{% extends '@NarmafzamArchive/layout_fluid.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <aside>
                {% include '@NarmafzamArchive/sidebar.html.twig' %}
            </aside>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}