<div class="row">
    <div class="col-md-8">
        {% embed '@NarmafzamArchive/list_description.html.twig' with {
        data: data,
        } %}
        {% endembed %}
    </div>
    <div class="col-md-4">
        {% embed '@NarmafzamArchive/list.html.twig' with {
        data: data,
        } %}
        {% endembed %}
    </div>
</div>