{% extends '@NarmafzamArchive/base.html.twig' %}

{% block body%}
    {% include '@NarmafzamArchive/nav.html.twig' %}
    <div class="container-fluid">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}