{% extends '@NarmafzamArchive/Contract/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">{{ 'archive.contract.action.index'|trans }}</h1>

    {% embed '@NarmafzamArchive/table.html.twig' with {
    data: model.contracts,
    routeShow: model.routeShow
    } %}
    {% endembed %}

{% endblock %}