{% extends '@NarmafzamArchive/Contract/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">{{ 'archive.contract.title.show'|trans({'%title%': model.contract.title}) }}</h1>

    {% embed '@NarmafzamArchive/infobox.html.twig' with {
        data: model.contract,
    } %}
    {% endembed %}

    <a type="button" class="btn btn-info" href="{{
    url(constant('Narmafzam\\ArchiveBundle\\Controller\\Front\\ContractController::ROUTE__CONTRACT_EDIT'), {'id': model.contract.id})
    }}">{{ 'archive.contract.action.edit'|trans }}</a>
{% endblock %}