{% extends '@NarmafzamArchive/Letter/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">{{ 'archive.letter.title.show'|trans({'%title%': model.letter.title}) }}</h1>

    {% embed '@NarmafzamArchive/infobox.html.twig' with {
        data: model.letter,
    } %}
    {% endembed %}


    <a type="button" class="btn btn-info" href="{{
    url(constant('Narmafzam\\ArchiveBundle\\Controller\\Front\\LetterController::ROUTE__LETTER_EDIT'), {'id': model.letter.id})
    }}">{{ 'archive.letter.action.edit'|trans }}</a>
{% endblock %}