{% extends '@NarmafzamArchive/Document/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">{{ 'archive.document.action.index'|trans }}</h1>

    {% embed '@NarmafzamArchive/table.html.twig' with {
        data: model.documents,
        routeShow: model.routeShow
    } %}
    {% endembed %}

{% endblock %}