{% extends '@NarmafzamArchive/Document/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">{{ 'archive.document.title.show'|trans({'%title%': model.document.title}) }}</h1>

    {% embed '@NarmafzamArchive/infobox.html.twig' with {
        data: model.document,
    } %}
    {% endembed %}

    <a type="button" class="btn btn-info" href="{{
    url(constant('Narmafzam\\ArchiveBundle\\Controller\\Front\\DocumentController::ROUTE__DOCUMENT_EDIT'), {'id': model.document.id})
    }}">{{ 'archive.document.action.edit'|trans }}</a>
{% endblock %}